*{
	box-sizing: border-box;
}

body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.container{
	background-color: #3b1261;
	background: #3b1261 url("images/glitterBg.jpg") repeat ;
	height: 100vh;
	padding-top: 0;
}

.container > .row{
	height: calc(100% / 3);
}

.container > .row > .col-xs-12{
	height: 100%;
	padding: 5px;
	perspective: 1000px;
}

.dark{
	background-color: #d3d3d3;
}

.light{
	background-color: ghostwhite;
}

.medium{
	background-color: #42B39F;
}

.red{
	color: #D92646;
}

.blackGlassButton{

	display:inline;
	margin:auto;
	position:relative;
	border-radius:50%;
	height:75px;
	width:75px;
	background-color: black; /*for compatibility with older browsers*/
	background-image: linear-gradient(black 60%,gray);
	transform-origin:center center;
}

.blackGlassButton:focus{
	outline:none;
}

.blackGlassButton  i{
	font-size:35px;
	color:white;
	padding-top: 5px;
}

.blackGlassButton:after{
	content: '';
	position: absolute;
	top:0;
	left:15%;
	width: 70%;
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
	border-radius:50%;
	
}
.flipContainer:hover #asl{
transform: rotateY(180deg);
}
#asl{
	transition: 0.5s;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	position: relative;
}

#asl h1{
	font-family: 'Courgette', cursive;
    margin-left: 10%;
    font-weight: 600;
    font-size: 35px;
    margin-top: 0;
    padding-top: 20px;
}

#asl h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-left: 10%;
}

#asl  h2 > ul{
	position: relative;
	display: inline;
	list-style: none;
	text-align: left;
	padding-left: 5px;
}

#asl  h2 > ul > li{
	position: absolute;
	transition: opacity 1s ;
}

#asl > .back > h1{
	font-size: 25px;
}

#asl > .back > ul > li{
	display: inline-block;
	width: 40%;
}

.invisible
{
	display: inline;
	top: -100%;
	opacity: 0;
}

.visible{
	display: inline;
	top: 0;
	opacity: 1;
}


#projects{
height: 100%;
transition: 2s;
 color: #333;
 position: relative;
}

#projects:hover{
background-color: black;
}

#projects:hover > i{
color: ghostwhite;
margin-left: 5%;

}

 @-webkit-keyframes scalex{
        from {-webkit-transform: translateY(10px);}
        65% {-webkit-transform: translateY(0px);}
        to {-webkit-transform: translateY(10px);;}    
    }

#projects:hover > h1{
opacity: 1;
animation: scalex 3s linear infinite;
}

#projects> i{  
	font-size: 100px;
	line-height: calc(100vh / 3);
	margin-left: calc(100% / 2 - 50px);
	transition: 2s;
	
}

#projects > h1{
	opacity: 0;
	position: absolute;
	color: white;
	top: 30%;
	left: 35%;
	z-index: 999;
	transition: 1s opacity 0.5s;
}

#contact{
	height: 100%;
	width: 100%;
	color: white;
}

#contact  i{
	position: relative;
    font-size: 80px;
	top: 35%;
	margin-left: 20%;
	margin-right: 20px;

}

#contact  #label{
	position: relative;
	font-size: 40px;
	top: 25%;
}

.flipContainer:hover #contact{
transform: rotateY(180deg);
}

 .front,  .back{
height: 100%;
width: 100%;
}

#contact {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#contact #contactLinks{
	color: #000;
	font-weight: bold;
	list-style: none;
	margin-top: 5%;
}

#contact #contactLinks > li{
	margin-bottom: 5%;
}
#contact #contactLinks > li >i{
	font-size: 25px;
	margin-left: 0;
	
}

#social{
	display: flex;
}

#quotes h1{
	font-size: 18px;
	padding: 25px;
	line-height: 1.5;
	color:#660000;
}


#quotes h1 > span{
	margin-left: 10px;
	margin-right: 10px;
	color:#D92646;
}

#aboutContainer{
	display: flex;
	overflow: hidden;
}

#aboutContainer #aboutText{
	position: absolute;
	left: 0;
	top: 0;
	opacity:0;
	color: white;
	transition: 2s opacity 0.5s linear;
	padding:20px;
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	font-size: 14px;
}
#aboutContainer .blackGlassButton{
	position: relative;
	height: 120px;
	width: 120px;
	margin:auto;
	background-color: #42B39F;
	background-image: linear-gradient(#42B39F 70%,white);
	font-size: 20px;
	color: #000;
	line-height: 120px;
	text-align: center;
	
	transform: rotate(0deg);
    left:0;
    transition: 2s;
}

@keyframes rotateAway {
    from {
    transform: rotate(0deg);
    left:0;
  }
  to {
    
  }
}

#aboutContainer:hover .blackGlassButton{
	transform: rotate(360deg);
    left: 70%;
}

#aboutContainer:hover #aboutText{
	opacity: 1;
}

@media (max-width: 767px){

	#asl h1{
		font-size: 30px;
	}

	#asl h2{
		font-size: 15px;
	}

	#aboutContainer #aboutText{
		margin:5px;

	}

	#quotes h1{
		margin-top: 0;
		font-size: 15px;
	}
	#contact  i{
		margin-left: 10%
	}
}
