*{
	box-sizing: border-box;
}

html, body {
   height: 100%;
}

body{
	background-color:  white;
	font-family: 'Roboto', sans-serif;
}

.container{
	background-color: #01B6AD;
	background: #3b1261 url("images/glitterBg.jpg") repeat ;
    height: 100%;
	padding-top: 0;
}


.container >  .col-xs-12{
	padding: 5px;
	perspective: 1000px;

}

a{
color: #01B6AD;
}

.setHeight{
	min-height: calc(100vh / 3);
}
.dark{
	background-color: #0A4958 ;
}

.light{
	background-color: #F6E7D2;
}

.medium{
	background-color: #01B6AD;
}

.red{
	color: #0A4958;
}

.orange{
color: #01B6AD;
}

.pink{
	color: #F6E7D2;
}

.blackGlassButton{

	display:inline;
	margin:auto;
	position:relative;
	border-radius:50%;
	height:75px;
	width:75px;
	background-color: black; /*for compatibility with older browsers*/
	background-image: linear-gradient(black 60%,gray);
	transform-origin:center center;
}

.blackGlassButton:focus{
	outline:none;
}

.blackGlassButton  i{
	font-size:35px;
	color:white;
	padding-top: 5px;
}

.blackGlassButton:after{
	content: '';
	position: absolute;
	top:0;
	left:15%;
	width: 70%;
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
	border-radius:50%;
	
}
.flipContainer:hover #asl{
transform: rotateY(180deg);
}
#asl{
	transition: 0.5s;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	position: relative;
}

#asl h1{
	font-family: 'Courgette', cursive;
    font-weight: 600;
    font-size: 35px;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    padding-top: 10%
}

#asl h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
}

    #asl #tap
    {
    	display: none;
    }
#hobbies{
	position: relative;
	display: inline;
	list-style: none;
	text-align: left;
	padding-left: 5px;
}

#hobbies> li{
	position: absolute;
	transition: opacity 1s ;
}


#asl .front{
	outline: 1px dotted #01B6AD;
	outline-offset: -10px;
}
#asl > .back > h1{
	font-size: 25px;
	text-align: left;
	margin-left: 10%;
	padding-top:0;
	margin-top: 30px;
}


#asl > .back > ul{
	padding:0;
	margin-left: 10%;
	text-transform: uppercase;

}
#asl > .back > ul > li{
	display: inline-block;
	width: 40%;
	text-decoration: underline;
}

.invisible
{
	display: inline;
	top: -100%;
	opacity: 0;
}

.visible{
	display: inline;
	top: -3px;
	opacity: 1;
}


#projects{
height: 100%;
transition: 2s;
 color: #333;
 position: relative;
 outline: 1px dotted #01B6AD;
	outline-offset: -10px;
}

#projects:hover{
background-color: black;
}

#projects:hover > i{
color: ghostwhite;
margin-left: 5%;

}

 @-webkit-keyframes scalex{
        from {-webkit-transform: translateY(10px);}
        65% {-webkit-transform: translateY(0px);}
        to {-webkit-transform: translateY(10px);;}    
    }

#projects:hover > h1{
opacity: 1;
animation: scalex 3s linear infinite;
}

#projects> i{  
	font-size: 100px;
	line-height: calc(100vh / 3);
	margin-left: calc(100% / 2 - 50px);
	transition: 2s;
	
}

#projects > h1{
	opacity: 0;
	position: absolute;
	color: white;
	top: 30%;
	left: 35%;
	z-index: 999;
	transition: 1s opacity 0.5s;
}

#contact{
	height: 100%;
	width: 100%;
	color: white;
	outline: 1px dotted #01B6AD;
	outline-offset: -10px;
}

#contact  i{
	position: relative;
    font-size: 80px;
	top: 35%;
	margin-left: 20%;
	margin-right: 20px;

}

#contact  #label{
	position: relative;
	font-size: 40px;
	top: 25%;
}

.flipContainer:hover #contact{
transform: rotateY(180deg);
}

 .front,  .back{
height: 100%;
width: 100%;
}

#contact {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#contact #contactLinks{
	color: #000;
	font-weight: bold;
	list-style: none;
	margin-top: 5%;
}

#contact #contactLinks > li{
	margin-bottom: 5%;
}
#contact #contactLinks > li i{
	font-size: 25px;
	margin-left: 0;
	
}

#social{
	height: 100%;
	width: 100%;
	display: flex;
}

#quotes{
	height: 100%;
	width: 100%;
	display: flex;
}
#quotes h1{
	font-size: 18px;
	padding: 25px;
	line-height: 1.5;
	margin: auto;
}


#quotes h1 > span{
	margin-left: 10px;
	margin-right: 10px;
}

#aboutContainer{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	outline: 1px dotted #01B6AD;
	outline-offset: -10px;
}

#aboutContainer #aboutText{

	opacity:0;
	color: white;
	transition: 2s opacity 0.5s linear;
	padding:20px;
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	font-size: 14px;
}
#aboutContainer .blackGlassButton{
	position: absolute;
	height: 120px;
	width: 120px;
	margin:auto;
	background-color: #42B39F;
	background-image: linear-gradient(#42B39F 70%,white);
	font-size: 20px;
	color: #000;
	line-height: 120px;
	text-align: center;
	
	transform: rotate(0deg);
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 2s;
}

#aboutContainer .blackGlassButton > span{
display: none;
}

@keyframes rotateAway {
    from {
    transform: rotate(0deg);
    left:0;
  }
  to {
    
  }
}

#aboutContainer:hover .blackGlassButton{
	transform: rotate(360deg);
    left: 100%;
}

#aboutContainer:hover #aboutText{
	opacity: 1;
}

@media (min-width: 768px){
#projects{
height: 100%;
transition: 2s;
 color: #333;
 position: relative;
 outline: 1px dotted #01B6AD;
	outline-offset: -10px;
}

}

@media (max-width: 991px){
.container{
	width: 100%;
}
.blackGlassButton{
	height: 50px;
	width: 50px;
}
.blackGlassButton  i{
font-size: 25px;
}

	#asl h1{
		font-size: 30px;
		padding-top: 8%;
	}

	#asl h2{
		font-size: 15px;
	}

    #asl #tap{
    	width: 100%;
    text-align: center;
    display: block;
    }
	#aboutContainer #aboutText{
		margin:5px;

	}

	#quotes h1{
		font-size: 15px;
	}
	#contact  i{
		margin-left: 10%;
	}

	
	#aboutContainer .blackGlassButton{
		line-height: 1;
		padding-top: 40px;
	}
	#aboutContainer .blackGlassButton > span{
		display: block;
		font-size: 15px;
		padding-top: 5px;
	}
	#projects{
background-color: black;
}

#projects > i{
color: ghostwhite;
margin-left: 8%;

}

#projects > h1{
opacity: 1;
animation: scalex 3s linear infinite;
margin-left: 40px;
font-size: 25px;
}

#contact  #label{
	font-size: 25px;
	margin-left: 6%;
}
}
