/*
File Name : style.css
Purpose : contains all the styles for index.html
*/

/* styles common to the entire html page and all elements */
html,body{
    height: 100%;
    background-color: #00c4cc;
    min-width : 1200px;
    color: #ebeced;
    font-family: Arial, Helvetica, sans-serif;
}

*{
	box-sizing: border-box;
}

/* FORM RELATED CSS STYLES */
#leftaside{
	float:left;
	width:33%;
	height: calc(100% - 16px);
	padding:20px;
	overflow: auto;	
	font-weight: bold;
	font-size: 13px;
}

.formInputs{
	margin:5px 0 20px 0;
	height: 30px;
	border-radius: 5px;
	border-width: 1px;
}

.main{
	height: calc(100% - 16px);
	background-color: #3f4652;	
	border : inset 3px #d3d3d3;
	border-radius: 40px;
}

.main label{
	display:inline-block;
	width: 100%;
	text-transform: uppercase;
}

#event_message{
	height:130px;
}

#event_message, #event_title, #event_date, #background_color, #font_color{
	width:100%;
}

.image_div{
	width: 50%;
	float: left;
	height: 150px;
}

.main input[type="radio"]{
	height: 100%;
}

img{
	width:150px;
	height:150px;
	padding:5px;
}

.main button{
	height: 30px;
	background-color: #00c4cc;
	clear: left;
	display: block;
	position: relative;
	top: 10px;
	border : inset 1px #00c4cc;	
	border-radius : 5px;

}

/* THE INVITATION'S DISPLAY RELATED CSS STYLES */

#placeholder{
	float:left;
	width:67%;
	height: 100%;
	overflow : auto;
	padding:20px;
	background-color: #fff;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
} 

#finalDesignDiv{
	width:100%;
	min-height: 50%;
	padding: 20px;

}

.heading{
	text-align: center;
	font-size: 30px;
}

#eventTitleHeading, #eventDateHeading{
	text-align: center;
	font-size: 24px;
}

#messageParagraph{
	text-align:center;
	padding:0px 20px;
}

#image{
	margin-left:auto;
	margin-right:auto;
	display:block;
	height: 200px;
	width: 200px;
}