<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lhavanya Murali</title>
	<link href="https://fonts.googleapis.com/css?family=Courgette|Roboto" rel="stylesheet">
   <link rel="stylesheet" href="../css/bootstrap.min.css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <link rel="stylesheet" href="../css/work.css" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
   <script src="../js/bootstrap.min.js"></script>
   <script src="../js/app.js"></script>
	<title>My Work</title>
</head>
<body>
<div class="container">
<h1>My Work</h1>
  <div class="col-xs-12 col-sm-10">
  <h2 class="col-xs-12">Vita Fresh</h2>
  <h3 class="col-xs-12">Freelance Web Developer ( March 2017 - ongoing )</h3>
  <p class="col-xs-12">Designed and developed an application for Vita Fresh , a small scale food business delivering vegan products. The javascript frameowrk used to develop this application was AngularJS. It was made moobile friendly and resposive using Bootstrap. The website was W3C compliant and has good cross browser compatibilty</p>
  <p class="col-xs-12">The demo of the website and its code can be viewed on github. Feel free to click on the link below.</p>
  <a class="col-xs-12" href="https://lhavdeveloper.github.io/VitaFresh/">Click here to view the website</a>
  <a class="col-xs-12" href="https://lhavdeveloper.github.io/VitaFresh/">Click here to view the source code</a>
  
  <h2 class="col-xs-12">Altair Engineering</h2>
  <h3 class="col-xs-12">Full-time Software Engineer ( July 2015 - November 2016 )</h3>
  <ul class="col-xs-12">
    <li>Web developer focused on developing and maintaining responsive in-house web applications.</li>
    <li>Lead Engineer of Skillset Management Software, a Java application, which tracks the skill set of em-
    ployees. Built using Spring Boot Framework, AngularJS, Bootstrap, REST API, Spring JPA repositories and MySQL.</li>
    <li>Collaborated with UI/UX teams to come up with visually impactful and user-friendly user interface wireframes and mockups.</li>
    <li>Was temporarily a part of the Build and Release team and was in charge of build and release management of packages onto windows and various Unix platforms.</li>
  </ul>
  </div>
  <div class="col-xs-12 col-sm-2"><button class="blackGlassButton" ><a  href="https://github.com/lhavDeveloper"><i class="fa fa-github"></i></a></button>
    <button class="blackGlassButton"><a href="https://www.linkedin.com/in/lhavanyamurali/"><i class="fa fa-linkedin-square"></i></a></button>
    <button class="blackGlassButton"><a href="http://stackoverflow.com/users/7692672/lhavcoder"><i class="fa fa-stack-overflow"></i></a></button>
    <button class="blackGlassButton"><a href="https://www.facebook.com/lhavanyamurali"><i class="fa fa-facebook"></i></a></button></div>
</div>
</body>
</html>